@model IEnumerable<MVC.Models.Produto>

@{
    ViewData["Title"] = "Produto";
}
<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdEstqProd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CodProd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeProd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QtdEstqProd)
                </td>

            </tr>
        }
    </tbody>
</table>